{% extends 'main/base.html' %}

{% block title %} Jobs {% endblock %}

{% load crispy_forms_tags %}
{% block content %} 
<div class="card">
    <form class="form-inline ml-2" method="POST" action="/">
        {% csrf_token %}
        <div class="mr-2">
            {{ MainSearchForm.job|as_crispy_field }}
        </div>
        <div class="mr-2">
            {{ MainSearchForm.locations|as_crispy_field }}
        </div>
        <div class="mr-2">
            {{ MainSearchForm.hours|as_crispy_field }}
        </div>
        <div class="mr-2">
            {{ MainSearchForm.careertype|as_crispy_field }}
        </div>
        {% comment %} <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> {% endcomment %}
        <button type="submit" class="btn btn-outline-primary">search</button>
    </form>
</div>
{% comment %} <div class="card">

  <!--Card content-->
  <div class="card-body">

    <!-- Container -->
    <div class="d-block d-md-flex">

      {% for item in jobs %}
      <!-- Column -->
      <a href="/job/{{item.id}}">
      <div class="p-3 flex-1 ml-5 mr-5" style="min-width:33%;">

        <h3 class="pb-3 font-weight-bold">{{item.title}}</h2>
        <p align="justify">{{item.description}}</p>

      </div>
      </a>
      <!-- Column -->
      {% endfor %}

    </div>
    <!-- Container -->

  </div>
</div> {% endcomment %}
{% for item in jobs %}
<div class="card">
<a href="/job/{{item.id}}">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">
      {{item.location}} - {{item.hours}} - {{item.careertype}}
    </p>
  </div>
  </a>
</div>
</div>
{% endfor %}
{% endblock %}