{% extends 'main/base.html' %}

{% block title %} Job page {% endblock %}

{% block content %} 
{% for item in job %}
<div class="card m-5 bg-{{theme}} text-{% if theme == "light" %}dark{% else %}light{%endif%}">
  <div class="card-body bg-{{theme}} text-{% if theme == "light" %}dark{% else %}light{%endif%}">
    <h4 class="card-title">{{item.title|upper}}</h4>
    <h6> {{item.location}} - {{item.hours}} - {{item.careertype}}</h6>
    <p class="card-text">
    {{item.description|linebreaks}}
    </p>
    {% if student %}
        <button type="button" class="btn btn-primary">Apply</button>
    {% else %}
        <a>Must Be A Verified Student To Apply</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}